.centere{
  position: absolute;
  top: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); }
body {
  font-family: system-ui;
  color: white;
  text-align: center;
  background-color: #a8a8a8;
}

.iframe {
  position: absolute;
  top: 48%;
  left: 0.9%;
}
.Link {
  position: absolute;
  top: 60%;
  left: 90%;
  }
.navbar {
  position: absolute;
  top: 48%;
  left: 32%;
  font-size:114%;
  color: #6eba70;
  text-decoration: none;
  overflow: hidden;
  backround-color: #6e6d6d;
}
.navbar {
  overflow: hidden;
  background-color:#6e6d6d;
}

.navbar a {
  float: left;
  display: block;
  color: #6eba70;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.Reviews {
  position: absolute;
  top: 48%;
  left: 73.5%;
  font-size: 104%;
  color: #6eba70;
  background-color: #6e6d6d;
  text-decoration: none;
}
.surf-pic {
  position: absolute;
  top: 88%;
  left: 0.6%;
  font-size: 100%;
  color: #6eba70;
  width: 55%;
  height: auto;
  background-color: #6e6d6d;
  text-decoration: border;
}
.Contacts {
  position: absolute;
  top: 128%;
  left: 0.8%;
  font-size: 200%;
  color: #6eba70;
  width: 100%;
  height: auto;
  background-color: #6e6d6d;
  text-decoration: border;
}
.summary {
  position: absolute;
  top: -940%;
  left: 31.5%;
  font-size: 74%;
  color: #6eba70;
  width: 40%;
  background-color: #6e6d6d;
  text-decoration: border;
}
.hill {
  position: absolute;
  top: -610%;
  left: -73.2%;
  color: #6eba70;
  width: 250%;
  height: 400px;
}
